.teclado {
  display: flex;
  justify-content: center;
  font-size: 1.4em;
  font-weight: 600;
  text-align: center;
  gap: 10px;
  margin: 5px 0px;
  color: white;
}

.tecla {
  background-color: rgb(92, 92, 92);
  width: 2rem;
  padding: 0.2rem 0;
  border-radius: 10%;
  cursor: pointer;
}

.specialKey {
  background-color: rgb(92, 92, 92);
  color: white;
  border: 0;
  border-radius: 10%;
  width: 4rem;
  font-size: 1.3em;
  font-weight: 600;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  line-height: 35px;
}

.default {
  background-color: rgb(92, 92, 92);
}

.black {
  background-color: black;
  opacity: 0.7;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}
