.customButton {
    background-color: rgb(31, 31, 31);
    border: 2px solid rgb(193, 193, 193);
    font-size: 1em;
    font-weight: bold;
    margin: 0.5rem;
    padding: .5rem;
    text-decoration: none;
    color: rgb(193, 193, 193);
    cursor: pointer;
    transition: .2s ease;
}

.customButton:hover {
    background-color: rgb(13, 13, 13);
    color: white;
    transform: scale(1.1);
}