.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    }

.container > input {
    padding: .6rem;
    margin: 10px auto;
    font-size: 1rem;
    border: 2px solid black;
    width: 20rem;
}

.container > input:focus {
    outline: none;
}

.pesquisar img {
    width: 50px;
    margin: 10px;
}

.pesquisar {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white ;
    width: 20rem;
    margin: auto;
    list-style: none;
}

.pesquisar li {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.pesquisar li:hover {
    background-color: rgb(220, 220, 220);
}